*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board{
    width: 100%;
    height: 617px;
    border-bottom: 16px solid rgb(0, 140, 0);
    background: linear-gradient(#87CEEB, #E0F6FF);
    margin: 0 auto;
    position: relative;
    overflow: hidden;  /* retira a imagem da tela*/
}

.clouds{
  width: 320px;
  position: absolute;
  margin-top: -40px;
  z-index: 2;
  animation: clouds-animation 30s infinite linear;
}

.fundo{
  width: 300px;
  padding: 28px;
  margin-top: 100px;
  position: absolute;
  z-index: 1;
  background-repeat: repeat;
  animation: fundo-animation 65s infinite linear ;
}

.pipe{
    position: absolute;
    bottom: -15px;
    width: 80px;
    animation: pipe-animation 2s infinite linear; 
}

.mario{
    position: absolute;
    width: 100px;
    bottom:0; 
}

.jump{
    animation: jump 500ms infinite ease-out;
}

@keyframes fundo-animation {
  from{
    right: -300px;
  }
  to {
    right: 100%;
  }

}

@keyframes clouds-animation{
  from {
    right: -320px;
  }
  to {
    right: 100%;
  }
}

@keyframes pipe-animation{
  from {
    right: -80px;
  }

  to {
    right: 100%;
  }
}

@keyframes jump{

   0% {
    bottom: 0;
   }

   40% {
    bottom: 90px;
   }
   
   50% {
    bottom: 90px;
   }

   60% {
    bottom: 90px;
   }

   100% {
    bottom: 0;
   }
}

